@tailwind base;
@tailwind components;
@tailwind utilities;

/*pt-64 md:pt-96*/
/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 38px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}


/*Button color*/
.bg-main-color{
  background: #8F3D4B;
}

/*Text color*/
.text-main-color{
  color: #FCECCB;
}

/*Button Text spacing*/
.letter-spacing-sm{
  letter-spacing: 0.5px;
}

.letter-spacing-md{
  letter-spacing: 2px;
}

.letter-spacing-lg{
  letter-spacing: 4px;
}


/*border radius top left color*/
.border-l-color{
  border-left: 2px solid #8F3D4B;
}
/*height of video screen*/
.h-vid{
  height: 741px;
}

/*button darkshade hover*/
.bg-main-hover:hover{
  background-color: #602831;
}
